* {
  box-sizing: border-box;
}

html,
body {
  margin: 20px;
  padding: 0;
  background-color: #fff;
  color: #000;
  font-family: serif;
  text-align: justify;
}


.privacy_policy {
  max-width: 600px;
  margin: 0 auto;
}

.privacy_policy .title {
  text-align: center;
}

.privacy_policy .updated-date {
  color: #888;
}

.privacy_policy .section-name {
  text-decoration: underline;
}